<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="telephone=no" name="format-detection">
    <meta content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="../static/css/login.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/userCenter.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/global.css" rel="stylesheet" type="text/css" />
    <title>UserProfile</title>
    <script>
        function follow() {
            const STATUS_TYPE = {'1': '+ follow', '0': 'followed'};
            const focusBtn = document.getElementById('focusBtn');
            focusBtn.addEventListener('click', () =>
            {
                if (focusBtn.innerHTML == STATUS_TYPE[1])
                    {
                        focusBtn.classList.add('focused')
                        focusBtn.innerHTML = 'followed'
                        alert('followed successful')
                    } else {
                        focusBtn.classList.remove('focused')
                        focusBtn.innerHTML = '+ follow'
                    }
            })
        }

    </script>
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="user-profile">
                <img class="mr-4 rounded-circle" alt="用户头像" style="width:300px;">
                <h4><span>Gilbert<input type="hidden" id="entityId" th:value="${user.id}">
                    <button type="button" style="border-radius:40px" onclick="follow()" >Follow</button></span>
                </h4>
                <span>THIS IS A SIGNATURE</span>
                <div class="text-muted mt-3">
                    <span>Joined <i class="text-muted">2015-06-12</i></span><br><br>
                    <span><a class="text-primary">5</a> Following</span>
                    <span><a class="text-primary">123</a> Followers</span>
                    <span><a class="text-danger">87</a> Like</span><br><br>
                </div>
            </div>

            <div class="label" >
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active">发布的贴子[<span th:text="${PostCounts}">93</span>]</a></li>
                </ul>
            </div>
            <div class="posts">
                <ul class="shadowPureEffect postCard">
                    <li class="media pb-3 pt-3 mb-3 border-bottom" th:each=帖子>
                        <div class="media-body">
                            <h6 class="mt-0 mb-3">
                                <a th:href=帖子ID th:utext=帖子标题>Bitcoin Mining Firm Marathon Digital Posts 91% Growth in Q3 !</a>
                            </h6>

                            <p class="mt-0 mb-3 ">
                                <a th:href=帖子ID th:utext=帖子详情>以太坊又涨了以太坊又涨了以太坊又涨了以太坊又涨了以太坊又涨了以太坊又涨了以太坊又涨了以太坊又涨了</a>
                            </p>
                            <div class="text-muted font-size-12">
                                <u class="mr-3" th:utext=用户名username>Dongrui</u> Posted on <b th:text=发布时间>2021-10-05 19:35:28</b>
                                <ul class="d-inline float-right">
                                    <li class="d-inline ml-2">Like 66</li>
                                    <li class="d-inline ml-2">|</li>
                                    <li class="d-inline ml-2">Comments <span th:text="${map.post.commentCount}">15</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</body>
</html>