<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/login.css" type="text/css" />
    <title>HackInBlockChain-Login</title>
</head>
<body>
<div id="main" class="horizontalStack">
    <div id="personalInfo" class="horizontalCell" style="background: red;">
    </div>

    <div id="historyPosts" class="horizontalCell" style="background: green;">
    </div>

</div>
</body>
</html>