<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blockchainforum.dao.UserCommentMapper">
    <sql id="selectFields">
        cid, pid, uid, target_id, comment_content, status, creatTime
    </sql>
    <sql id="insertFields">
        uid, pid, target_id, comment_content, status, creattime
    </sql>
    <select id="selectCommentByPost" resultType="UserComment">
        select <include refid="selectFields"></include>
        from usercomment
        where status = 0
        and pid = #{pid}
        order by creattime desc
        limit #{limit}
        offset #{offset}
    </select>

    <select id="selectCountByPost" resultType="int">
        select count(cid)
        from usercomment
        where status = 0
        and pid = #{pid}
    </select>

    <insert id="insertUserComment" parameterType="UserComment">
        insert into usercomment (<include refid="insertFields"></include>)
        values(#{uid}, #{pid}, #{target_id}, #{comment_content}, #{status}, #{createTime})
    </insert>
</mapper>