<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blockchainforum.PostMapper">
    <select id="selectById" resultType="Post">
        select pid, uid, title, post_content, status, topic_time, topic_catagory, viewed_number, nice_topic, thumbs_up
        from post
        where pid = #{pid} and uid = #{uid}
    </select>
</mapper>