<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blockchainforum.dao.ThumbsMapper">
    <insert id ="insertThumbs" >
        insert tid, uid, pid
        into thumbs
        values (#{tid},#{uid},#{pid})
    </insert>

    <delete id="deleteThumbs">
        delete on cascade
        from thumbs
        where tid = #{tid}
    </delete>

    <select id="selectById" resultType="Thumbs">
        select tid, uid, pid
        from thumbs
        where tid = #{tid}
    </select>

    <select id="selectThumbsByUid" resultType="Thumbs">
        select tid, uid, pid
        from thumbs
        where uid = #{uid}
    </select>


</mapper>