<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blockchainforum.dao.UserCommentMapper">
    <insert id ="insertUserComment">
        insert (cid, uid, pid, coment_content)
        into usercomment
        values (#{cid},#{uid},#{pid},#{comment_content})
    </insert>

    <delete id="deleteUserComment">
        delete on cascade
        from usercomment
        where cid = #{cid}
    </delete>

    <update id="updateUserComment">
        update usercomment on cascade
            set comment = #{comment}
        where cid = #{cid} and uid = #{uid} and pid = #{pid}
    </update>

    <select id="selectById" resultType="UserComment">
        select cid, uid, pid, comment_content
        from usercomment
        where cid = #{cid}
    </select>

    <select id="selectByUid" resultType="UserComment">
        select cid, uid, pid, comment_content
        from usercomment
        where uid = #{uid}
    </select>


</mapper>