<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blockchainforum.dao.UserCommentMapper">
    <select id="selectById" resultType="userComment">
        select cid, uid, pid, comment_content
        from usercomment
        where cid = #{cid} and uid = #{uid} and pid = #{pid}
    </select>
</mapper>